div{
    width: 100px;
    height:100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
}
#d1{
    background-color: aqua;
}
#d2{ background-color: rgba(210, 38, 38,0.6);
 }
 #d3{ 
    background-color:rgba(95,25,255,0.5);
 }

 

 .containbox{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black ;

 }
 

