.loader {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 20px solid #00a5e0;
    border-top: 20px solid #EF9CDA;
    animation: SpinAnimation 2s ease-in-out 0s infinite normal;
}

@keyframes SpinAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}