body{
    text-align: center;
}
div{
    height:100px;
    width:100px;
    display: inline-block;
    border: 2px solid black;
}
#container{
        width:800px;
        height: 200px;
        display:flex;
    }
    #box1{
        background-color:aqua
    }
    #box2{
        background-color:aquamarine
    }
    #box3{
        background-color:red;
    }
    #box4{
        background-color:blue;
    }
    #box5{
    background-color:gold;
    }